version: "3.9"

services:
  web:
    image: sekixu/line-calendar
    container_name: line-calendar
    restart: always
    command: python app.py
    volumes:
      - ./test.db:/line-calendar/test.db
    ports:
      - "5001:5001"
    environment:
      LETSENCRYPT_HOST: line-calendar.sekixu.dev
      VIRTUAL_HOST: line-calendar.sekixu.dev
    networks:
      - reverse-proxy_ssl-network

networks:
  reverse-proxy_ssl-network:
    external: true
